<form [formGroup]="form" (ngSubmit)="submit()">

  <h2>Login as administrator</h2>

  <div class="form-control">
    <label for="email">Email</label>
    <input id="email" type="email" formControlName="email">
    <div *ngIf="form.get('email').touched && form.get('email').invalid" class="validation">
      <small *ngIf="form.get('email').errors.required">Enter email</small>
      <small *ngIf="form.get('email').errors.email">Enter valid email</small>
    </div>

    <div class="form-control">
      <label for="password">Password</label>
      <input id="password" type="password" formControlName="password">
      <div *ngIf="form.get('password').touched && form.get('password').invalid" class="validation">
        <small *ngIf="form.get('password').errors.required">Enter password</small>
        <small *ngIf="form.get('password').errors.minlength">
          Must be at least 6 characters. Now the lengh is
          {{form.get('password').errors.minlength["actualLength"]}}
        </small>
      </div>

      <button type="submit"
              class="btn btn-block btn-primary"
              [disabled]="form.invalid|| submitted"
      >
        LogIn
      </button>


    </div>
  </div>
</form>


